*{
 margin: 0;   
 padding: 0;
}
:root{

}
.cabecalho{
    background-color: rgb(201, 141, 250);
    padding: 30px;
}
.corpo{
    background-color: rgb(172, 94, 224);
}
.foot{
    background-color: rgb(233, 100, 233);
}
.boton{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: rgb(239, 208, 252);
    color: rgb(15, 7, 24);
    text-decoration: none;
    border-radius: 3px;
}
.boton:hover{
    background-color: rgb(181, 20, 255);
}
.boton:active{
    font-size: 20px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}