*{
 margin: 0;   
 padding: 0;
}
:root{

}
.cabecalho{
    background-color: #D20062;
    padding: 30px;
}
.corpo{
    background-color: #D6589F;
}
.footer{
    background-color: #D895DA;
}
.boton{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color:#C4E4FF ;
    color: rgb(15, 7, 24);
    text-decoration: none;
    border-radius: 5px;
}
.boton:hover{
    background-color: #f56dd3;
}
.boton:active{
    font-size: 20px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, mimax(300px, 1fr)
    gap: 20px;
}
.video-item { 
    background-color: #f56dd3;
    padding: 10px;
    border-radius: 8px;
    box-shadow: #D895DA;
    height: 200px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.2s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}